$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.voting-box {
  @include make-sm-column(4);
}

.party {
  @include make-sm-column(3);
}

.progress-bar-container {
  @include make-sm-column(12);
}

.jumbotron {
  border-radius: 0;
}

.party.btn {
  z-index: 99999;
}

.footer {
  text-align: center;
}

.voting-box > .panel {
  min-height: 250px;
}

.pool-parties {
  @include make-sm-column(12);
  .panel {
    min-height: 200px;
  }
}
