<div ng-drop="true" ng-drop-success="pactometro.onDropComplete($data,$event)" class="jumbotron text-center in-favour">
    <p>A favor</p>
    <h1>200</h1>
</div>
<div ng-drop="true" ng-drop-success="pactometro.onDropComplete($data,$event)" class="jumbotron text-center abstention">
    <p>Abstención</p>
    <h1>50</h1>
</div>
<div ng-drop="true" ng-drop-success="pactometro.onDropComplete($data,$event)" class="jumbotron text-center against">
    <p>En contra</p>
    <h1>50</h1>
</div>
<div ng-repeat="party in pactometro.parties" class="party btn btn-default" ng-drag="true" ng-drag-data="party" data-allow-transform="true">{{party.name}} - {{ party.seats }}</div>
