<div class="jumbotron text-center in-favour">
    <p>A favor</p>    
    <h1>200</h1>
</div>
<div class="jumbotron text-center abstention">
    <p>Abstención</p>    
    <h1>50</h1>
</div>

<div class="jumbotron text-center against">
    <p>En contra</p>    
    <h1>50</h1>
</div>

<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>
<button class="party btn btn-default">Party</button>

