<div class="jumbotron">
    <div class="row">
        <h1>Qué es el pactómetro?</h1>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <p>Inspirado en el pactómetro de Al Rojo Vivo, ésta aplicación permite hacer las elucubraciones de posibles pactos en el congreso de España.</p>
            <h2>¿Cómo está realizado?</h2>
            <p>Se utiliza AngularJS con Bootstrap para toda la aplicación.</p>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive" src="images/pactometro-tv.jpg" alt="">
        </div>
    </div>

</div>
